body{
    margin: auto;
}
.container{
    width: 80%;
    margin: auto;
}
.header-top{
    background-color:#fff;
    border-top: 2px solid#216ef8 ;
    border-bottom: 2px solid#283a59 ;
}
.header-top-up{
    width: 75%;
    margin-left: auto;
    background-color:#216ef8 ;
    display: flex;
    justify-content: space-between;
}
.slope-one{
    border-left: 35px outset white;
    border-top: 54px solid #216ef8;
}
.header-top-first{
    display: flex;
    align-items: center;
    margin-left: 250px;
}
.header-top-first p.time{
    padding-left: 20;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-top-first img{
    height: 32px;
}
.header-top-secnd{
    display: flex;
    align-items: center;
    padding-right: 15%;
}
.header-top-secnd li{
    list-style-type: none;
    padding-right: 15px;
}
.header-top-middle{
    display: flex;
}
.header-top-middle .container{
    display: flex;
    justify-content: space-between;
}
.header-name h3{
    font-size: xx-large;
    font-family: sans-serif;
    margin-bottom: 0;
}
.header-name p{
    margin-top: 0;
    font-family: cursive;
}
.header-contact{
    display: flex;
    align-items: center;
}
.header-contact img{
    height: 32px;
}
.header-call{
    display: flex;
    align-items: center;
}
.header-call-us{
    margin-left: 10;
}
.header-call-us p.call{
    font-size: 17;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}
.header-call-us p.number{
    color: darkolivegreen;
    margin-top: 5px;
}
.header-mail{
    display: flex;
    align-items: center;
    margin-left: 30;
}
.header-send-us-mail{
    margin-left: 10;
}
.header-send-us-mail p.send{
    font-size: 17;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}
.header-send-us-mail p.mail{
    color: darkolivegreen;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-top-downe{
    position: relative;
    display: flex;
    width: 75%;
    margin-left: auto;
    background-color:#283a59;
}
.slope-two{
    border-right: 45px outset transparent;
    border-top: 90px solid white;
}
.header-top-downe ul{
    display: flex;
}
.header-top-downe ul li{
    list-style-type: none;
    padding: 15 30;
}
.header-top-downe ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enquiry{
    margin-left: 30;
}
.enquiry p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15;
    font-weight: 600;
    background-color: orange;
    padding: 20 40;
    border-radius: 5px;
    color: white;
}
.banner{
    display: flex;
    background-image: url("../images/slide01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.banner .container{
    margin-top: 12%;
}
.content{
    margin: auto;
}
.name h1{
    font-size: 50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 10;
    margin-bottom: 0;
}
.name p.nam-bor{
    border-bottom: 4px solid orange;
    width: 5%;
}
.description p{
    font-size: 18;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.service{
    background-image: url("../images/world.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.ser-vice{
    display: flex;
    justify-content: space-between;
}
.ser{
    width: 30%;
    margin-top: -250px;
}
.ser-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.ser-img.one{
    background-image: url("../images/img1.jpg");
}
.ser-img.two{
    background-image: url("../images/kiper.jpeg");
}
.ser-img.three{
    background-image: url("../images/cisterna.jpg");
}
.read-more{
    display: flex;
    position: relative;
    align-items: center;
    top: 212;
    width: 42.3%;
    margin-left: auto;
}
.read-more .r-m:hover{
    background-color: darkslategrey;
}
.read-more .arrow:hover{
    background-color: darkslategrey;
}
.r-m{
    background-color:#173468;
}
.r-m a{
    text-decoration: none;
}
.r-m p{
   margin: 0;
   padding:11.5px;
   color: white;
   font-family: monospace;
}
.arrow{
    background-color: darkblue;
}
.arrow img{
    padding: 11.1px;
}
.ser-text{
    background-color: white;
    padding: 20 40;
}
.ser-text h3{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;

}
.ser-text p.line{
    border-bottom:3px solid orange;
    margin: 0;
    width: 50px;
}
.ser-text p{
    line-height: 22px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details{
    margin-top: 100;
}
.details p{
    margin: auto;
    font-size: 14;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: orange;
    padding: 15 40;
    width: 130;
    border-radius: 50px;
}
.offer{
    
    background-color: white;
}
.whatweoffer h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #535353;
    font-size: 30;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top:70 ;
}
.col-md-12{
    display: flex;
    justify-content: space-between;
    margin: 50 0;
}
.col-md-6{
    display: flex;
    width: 40%;
    padding: 30 50;
    align-items: center;
    background-color:#f8f8f8 ;
}
.off-img{
    margin-right: 25;
}
.off-tex h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17;
    text-align: center;
}
.off-tex p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15;
    line-height: 19px;
}
.industry{
    display: flex;
    position: relative;
   
}
.goods{
    display: flex;
    background-color:#283a59;
    width: 50%;
}
.empty{
    width: 20%;
}
.trans-goods{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.sector-sec p.bor{
    border: 1.3px solid orange;
    width: 6%;
    margin-bottom: 7;
}
.sector-sec h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21;
    color: white;
    line-height: 25px;
    margin-top: 0;
}
.sector-sec p{
    font-size: 15;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sector{
    display: flex;
    margin-top: 35;
    align-items: center;
}
.sector-img{
    margin-left: 15;
}
.sector-text{
    padding-left: 50;
}
.sector-text p{
    font-size: 19px;
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.truck{
    background-image: url("../images/19.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.element{
    padding: 70 0;
}
.element .container{
    display: flex;
}
.ele{
    text-align: center;
    padding: 0 20;
}
.ele-head h3{
    text-transform: uppercase;
    font-family: sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ele-pas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
}
.benefit{
    display: flex;
}
.benefit .container{
    display: flex;
    width: 100%;
}
.provide{
    width: 40%;
    padding-left: 10%;
    background-color: #131820;
    padding-top: 70;
    padding-bottom: 70;
}
.provide p.about{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18;
}
.provide h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25;
}
.provide p.des{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 25px;
    padding-right: 20;
}
.provide .book{
    width: 36%;
    text-align: center;
    background-color:#216ef8 ;
    margin-top: 35;
}
.provide .book a{
    text-decoration: none;
}
.provide .book p{
    font-size: 15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20 20;
}
.several{
    width: 60%;
    padding-top: 70;
    padding-bottom: 70;
    background-color: #216ef8;
}
.t-t{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 4%;
}
.three-theard{
    width: 32%;
    text-align: center;
    margin: 20 0;
}
.three-theard p{
    font-size: 17;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
}
.client .container{
    padding-bottom: 50;
}
.news{
    text-align: center;
    padding: 50 0;
}
.news h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30;
    color: #3f3d3d;
    font-weight: 600;
    text-transform: uppercase;
}
.news p.lin{
    border: 2px solid orange;
    width: 10%;
    margin: auto;
}
.news p{
    font-size: 18;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6a6a6a;
}
.latest{
    display: flex;
    justify-content: space-between;
}
.lat{
    width: 30%;
}
.lat .one{
    width: 100%;
}
.lat .one img{
    width: 100%;
}
.lat .one-text h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22;
}
.lat .one-text p.d{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #626161;
    line-height: 20px;
}
.lat .one-text p.p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15;
    text-transform: uppercase;
    font-weight: 600;
}
.slideshow-container{
    background-image: url("../images/99.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 650;
}
.mySlides{
    display: none;
}
.t{
    text-align: center;
    padding-top: 50;
}
.t p.what{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30;
    text-transform: uppercase;
    color: white;
}
.t p.li{
    border-bottom: 3px solid orange;
    width: 8%;
    text-align: center;
    margin: auto;
}
.t .quote{
    width: 3.5%;
    padding: 10 0;
    margin: auto;
    background-color:#216ef8 ;
    border-radius: 100%;
    margin-top: 50;
}
.t p.say{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
    color: white;
    width: 60%;
    margin: auto;
    line-height: 30px;
    padding-top: 40;
    font-weight: 600;
}
.t p.nam{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22;
    text-transform: uppercase;
    color: orange;
    font-weight: 500;
    padding-top: 40;
    margin-bottom: 0;
}
.company-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5;
    font-size: 17;
    color: white;
    margin-bottom: 50;
}
.dot-container{
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color:#216ef8 ;
}
.footer{
    background-color:#232526 ;
}
.footer .container{
    padding: 50 0;
}
.cols{
    display: flex;
}
.column{
    width: 30%;
    margin-right: 30;
}
.column.two,
.column.four{
    width: 18%;
}
.column p{
    color:#c1c0c0 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.column.two p.ourservice{
    font-size: 20px;
    color: white;
}
.column.three p.worktime{
    font-size: 20;
    color: white;
}
.column.four p.contact{
    font-size: 20;
    color: white;
}
.column a{
    text-decoration: none;
}
.social{
    display: flex;
    margin-top: 50;
}
.soc{
    background-color: #3f3f3f;
    padding: 5;
    margin-right: 4;
}
.ours{
    display: flex;
    margin: auto;
    margin-top: 20;
    align-items: baseline;
}
.ours img{
    height: 10px;
}
.ours p{
    margin: 0;
    padding-left: 15;
}
.ours p:hover{
    color: orange;
}
.week{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.week .day p,
.week .time p{
    margin-top: 8;
    margin-bottom: 8;
}
.cont{
    display: flex;
    margin-top: 20;
}
.cont img{
    height: 20;
}
.cont p{
    margin: 0;
    padding-left: 15;
}
